$highlight-background-color: #E8F1EF
$highlight-boder-color: #E7ECEB

@mixin btn-format($btn-background-color, $btn-border-color, $btn-color: #fff)
    color: $btn-color
    background-color: $btn-background-color
    border-color: $btn-border-color

.shopping-container
    min-width: 319px
    box-sizing: border-box
    .disabled
        cursor: not-allowed
        pointer-events: none
    .nav-class
        .container-fluid .cart-class
            margin: 0 10px
        padding: 10px 0
    .content
        position: relative
        top: 91px
        margin-bottom: 50px

.container-shop-items
    .mainbar .item-wrapper
        .caption
            margin: 0 6.5%
            input
                width: 30px
        .img-wrapper
            width: 85%
    .sidebar
        position: fixed
        right: 3%
        height: 100%
        .cartItem
            position: relative
            max-height: 70%
            background-color: beige
            border: 1px solid #40E2B3
            margin: 5px
            padding: 5px
            overflow: auto
        .proceedToConfirm
            position: relative
            margin: 5px
            padding: 5px
    .loaderClass
        margin-top: 15%
        margin-left: 30%


.container-confirm-items
    .orderWrapper 
        tbody .setSizeImg
            width: 70px
        .highlight
            text-align: center
            background-color: $highlight-background-color
            border: 2px solid $highlight-boder-color
            padding-bottom: 5px
    .orderHeading
        font-size: 30px
    
.container-customer-data-input .errorFieldClass
    color: red
    margin-left: 16px
        
.container-customer-data 
    .cust-info
        border: 1px solid $highlight-boder-color
        background-color: $highlight-background-color
        padding-left: 20px
    .proceed
        margin-top: 20px

.container-pie-chart
    margin-top: 10px
    margin-bottom: 10px
    .dt
        width: 95%
        margin: 0 auto
        height: 687px

.loaderClass
    margin-left: 33%
    margin-top: 15%

.showHideCart .glyphicon
    font-size: 40px
    margin-left: 20px
    position: fixed
    bottom: 10px
    top: inherit
    display: none
    
.btn-cart
    @include btn-format(#4C4C85, #626671)
      
.btn-addToCart
    @include btn-format(#D5C11E, #E2CE2B)
    margin-top: 5px
 
.btn-continue
    @include btn-format(#A97D28, #eea236)
    
.btn-reset
    @include btn-format(#EEA2B1, #EFBAC4)


@media only screen and (max-width: 480px)
    .container-shop-items 
        .sidebar
            .cartItem
                max-height: 200px
            .proceedToConfirm
                position: relative
                bottom: 0
                left: 30%
            position: fixed
            bottom: 0
            left: 0
            height: 270px
        .loaderClass
            margin-left: -35px;    
    .container-confirm-items 
        .orderWrapper tbody .setSizeImg
            width: 60px
            height: 60px
        padding: 0px 25px
    .loaderClass
        margin-left: -22px
    .showHideCart .glyphicon
        display: block
    

@media only screen and (min-width: 481px) and (max-width: 767px)
    .container-shop-items
        .sidebar
            top: 11%
            width: 37%
        .mainbar .item-wrapper
            width: 60%