<div ng-controller="confirmItemsController as itemsCtrl" class="container container-confirm-items" id="confirmOrder">
    <div class="row orderHeading">
        <p>Order Details</p>
    </div>
    
    <div class="row orderWrapper ">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="2"><label>Item</label></td>
                    <td><label>Price</label></td>
                    <td><label>Qty</label></td>
                    <td><label>SubTotal</label></td>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="item in itemsCtrl.itemsToBeOrdered">
                    <td><img class="setSizeImg" src="{{item.path}}"></td>
                    <td>{{item.name}}</td>
                    <td>Rs.{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>Rs.{{item.price * item.quantity}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-lg-4 col-lg-offset-8">
            <div class="highlight"><h3>Payable Amount : <strong>Rs.{{itemsCtrl.totalAmount}}</strong></h3></div>
        </div>
    </div>
</div>