<!--start-of-customer-details-->
<div class="container container-customer-data-input" ng-controller="customerDataController as custDataCtrl">
    
        <div class="page-header"><h2>Customer Details</h2></div>

        <form class="form-horizontal" name="customerForm" novalidate>
            
            <!--Username-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name:</label>
                <div class="col-sm-6">
                    <input type="text" name="username" ng-model="custDataCtrl.user.username" class="form-control" id="name" placeholder="Enter name" ng-required="true" ng-minlength="3" ng-maxlength="25">
                    <div><span class="alert-success">(name should be 3-25 characters)</span></div>
                </div>
                <span class="errorFieldClass" ng-show="customerForm.$submitted || customerForm.username.$touched">
                    <span ng-show="customerForm.username.$error.required">Username is required</span>
                    <span ng-show="customerForm.username.$error.minlength">name should be at least of 3 chars</span>
                    <span ng-show="customerForm.username.$error.maxlength">name should be at most of  25 chars</span>
                </span>
            </div>
            
            
            <!--Address-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="address">Address:</label>
                <div class="col-sm-6">
                    <textarea class="form-control" name="address" ng-model="custDataCtrl.user.address" rows="3" id="address" placeholder="Enter address" ng-required="true"></textarea>
                </div>
                <span class="errorFieldClass" ng-show="customerForm.$submitted || customerForm.address.$touched">
                    <span ng-show="customerForm.address.$error.required">address is required</span>
                </span>
            </div>
            
            <!--Pincode-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="pincode">Pincode:</label>
                <div class="col-sm-6">
                    <input type="text" name="pincode" ng-model="custDataCtrl.user.pincode" class="form-control" id="pincode" placeholder="Enter Pincode" minlength="6" maxlength="6" ng-required="true" no-special-char>
                    <div><span class="alert-success">(pincode should be 6 digit)</span></div>
                </div>
                <span class="errorFieldClass" ng-show="customerForm.$submitted || customerForm.pincode.$touched">
                    <span ng-show="customerForm.pincode.$error.required">pincode is required</span>
                    
                </span>
            </div>
            
            <!--Mobile-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="mobile">Mobile:</label>
                <div class="col-sm-6"> 
                    <input type="text" name="mobile" ng-model="custDataCtrl.user.mobile" class="form-control" id="mobile" placeholder="Enter mobile number" minlength="10" maxlength="10"  ng-required="true" no-special-char  >
                    <div><span class="alert-success">(mobile number should be 10 digit)</span></div>
                </div>
                <span class="errorFieldClass" ng-show="customerForm.$submitted || customerForm.mobile.$touched">
                    <span ng-show="customerForm.mobile.$error.required">mobile is required</span>
                    
                </span>
            </div>
            
            <!--Email-->
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-6"> 
                    <input type="email" name="email" ng-model="custDataCtrl.user.email" class="form-control" id="email" placeholder="Enter email" ng-required="true">
                    <div><span class="alert-success">(email should be in format: abc@xyz)</span></div>
                </div>
                <span class="errorFieldClass" ng-show="customerForm.$submitted || customerForm.email.$touched">
                    <span ng-show="customerForm.email.$error.required">email is required</span>
                    <span ng-show="customerForm.email.$error.email">Invalid email address</span>
                </span>
            </div>

            
            
            <div class="form-group"> 
                <div class="col-lg-offset-2 col-sm-offset-2 col-lg-2 col-sm-3 col-xs-6">
                    <button type="submit" ng-disabled="!customerForm.$valid" class="btn btn-lg btn-continue" ng-click="custDataCtrl.toOrderSummary(custDataCtrl.user)">
                    save and continue
                    </button>
                </div>
                
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <button type="button" class="btn btn-lg btn-reset" ng-click="custDataCtrl.reset(customerForm)">
                    reset
                    </button>
                </div>
                
            </div>
        </form>

    
</div>    

<!--end-of-customer-details-->