<div ng-controller="shoppingItemsController as shopCtrl" class="container container-shop-items">
    <div class="loaderClass" ng-show="shopCtrl.showLoader">
        <img src="assets/images/Loading_icon.gif">
    </div>
    <div ng-show="!shopCtrl.showLoader"> 
        <div class="row">

            <div class="col-sm-8 col-md-9 col-lg-9 mainbar">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="itemObj in shopCtrl.shoppingItemData.shoppingItems">
                        <div class="thumbnail item-wrapper">
                            <img class="img-wrapper" src="{{ itemObj.path }}">
                            <div class="caption">
                                <div><label>{{itemObj.name}}</label></div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">Rs.{{itemObj.price}}</div>
                                    <div class="col-sm-12 col-md-6 col-lg-6" >
                                        Qty <input type="text" ng-model="itemObj.quantity" 
                                        no-special-char required>
                                    </div>

                                </div>
                                <div>
                                    <div class="btn btn-warning btn-md btn-addToCart" ng-click="shopCtrl.addItemToCart(itemObj)">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> 
                                        add to cart
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-3 col-lg-3 sidebar" ng-show="shopCtrl.showHideCartOnClick">  
                <div class="cartItem " ng-show="shopCtrl.showOnAdd">
                    <p><center><b> My Cart items </b></center></p>
                    <br>
                    <table class="table">

                        <thead ng-show="shopCtrl.showOnAdd">
                            <td>item</td>
                            <td>qty</td>
                            <td>price</td>
                        </thead>
                        <tbody ng-repeat="item in shopCtrl.cartDataCopy">
                            <tr>
                                <td>{{item.name}}</td>
                                <td>{{item.quantity}}</td>
                                <td>Rs.{{item.quantity * item.price}}</td>
                            </tr>
                        </tbody>
                        <tfoot ng-show="shopCtrl.showOnAdd">
                            <tr>
                                <td colspan="2">sub Total</td>
                                <td>Rs.{{shopCtrl.totalAmt}}</td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="proceedToConfirm" ng-show="shopCtrl.showOnAdd">
                    <center><button class="btn btn-lg btn-continue" ng-click="shopCtrl.confirmOrder('confirmOrder')">Continue</button></center> 
                </div>

            </div>           

        </div>
        <div class="row">
            <a href="" ng-click="shopCtrl.toggleCart()" class="showHideCart">
                <span class="glyphicon glyphicon-shopping-cart" ng-disabled="shopCtrl.disableCartIcon"></span>
            </a>
        </div>
    </div>
</div>
