<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Shopping cart!!</title>
    
    <base href="/">
	
	<script src="/angular/js/angular.min.js"></script>
    <script src="/jquery/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/angular-ui-router/js/angular-ui-router.min.js"></script>
    <script src="/angular-data-table/dataTable.min.js"></script>
    <script src="/chart.js/js/Chart.min.js"></script>
    <script src="/angular-chart.js/js/angular-chart.min.js"></script>

    <script src="/build/scripts.js"></script>
    
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/build/shopping-cart.css">  
    <link rel="stylesheet" href="/angular-data-table/dataTable.css">
    <link rel="stylesheet" href="/angular-data-table/material.css">    
    
</head>
<body ng-app="shopping-cart-app" >
    <div class="shopping-container">
        <nav class="navbar navbar-inverse nav-class navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home">Shop With M</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                     <ul class="nav navbar-nav" ng-init="disableConfirmOrder=true; disableOrderSummary=true; disableOrderItem=true">
                        <li>
                            <a ui-sref="home" class="active">Home</a>
                        </li>
                        <li>
                            <a ui-sref="confirmOrder" ng-class="{disabled: disableConfirmOrder}">My Order</a>
                        </li>
                        <li>
                            <a ui-sref="customerDataOrder" ng-class="{disabled: disableOrderSummary}">User Info</a>
                        </li>
                        <li>
                            <a ui-sref="orderItem" ng-class="{disabled: disableOrderItem}">Order Details</a>
                         </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right cart-class">
                        <li><a href="#" class="btn btn-cart" ng-model="itemCountInCart">
                            <span class="glyphicon glyphicon-shopping-cart"></span> cart 
                            {{" : " + itemCountInCart}}</a></li>
                    </ul>
                </div>
            </div>    
        </nav>
        
        <div class="content">
            <div ui-view></div>
        </div>
        
    </div>
</body>
</html>