<div class="container container-pie-chart" ng-controller="pieChartDataTableController as pieChartCtrl">
    
    <div class="row">
        
        <div class="col-lg-6">
            <div class="myPieChart row">
                <div class="col-lg-12 col-sm-12" id="pie-chart">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pie Chart: Number of items vs price</div>
                        <div class="panel-body">
                            <canvas id="pie" class="chart chart-pie chart-xs" chart-data="pieChartCtrl.data"
                              chart-labels="pieChartCtrl.labels" chart-click="pieChartCtrl.onClick"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="myPieChart row">
                <div class="col-lg-12 col-sm-12" id="pie-chart">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pie Chart : cart items vs quantity</div>
                        <div class="panel-body">
                            <canvas id="pie" class="chart chart-pie chart-xs" chart-data="pieChartCtrl.dataOfCart"
                              chart-labels="pieChartCtrl.labelsOfCart" chart-click="pieChartCtrl.onClick"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="row">
                <dtable options="pieChartCtrl.optionsDataTable" rows="pieChartCtrl.dataOfDataTable" class="material" selected="pieChartCtrl.selected"></dtable>
            </div>
        </div>
    </div>
    
</div>