<div class="container container-customer-data" ng-controller="viewCustomerDataSummaryController as customerCtrl">
    <div class="cust-info"><h3>Customer's Details</h3></div>
    <div class="cust-info">
        <div class="row">
            <div class="col-lg-2 col-xs-3"><h4>User</h4></div>
            <div class="col-lg-5 col-xs-5"><h4>{{customerCtrl.userData.username}}</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3"><h4>Address</h4></div>
            <div class="col-lg-5 col-xs-5"><h4>{{customerCtrl.userData.address}}</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3"><h4>Pincode</h4></div>
            <div class="col-lg-5 col-xs-5"><h4>{{customerCtrl.userData.pincode}}</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3"><h4>Mobile no.</h4></div>
            <div class="col-lg-5 col-xs-5"><h4>{{customerCtrl.userData.mobile}}</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xs-3"><h4>Email Id.</h4></div>
            <div class="col-lg-5 col-xs-5"><h4>{{customerCtrl.userData.email}}</h4></div>
        </div>
    </div>
    <div class="row proceed">
        <div class="col-lg-offset-1 col-lg-4">
            <button class="btn btn-lg btn-continue" ng-click="customerCtrl.orderItems()">Order Item</button>
            
        </div>
    </div>
</div>